@import "global";

.container {
  @include flexCenter;
  width: clamp(20rem, 21rem, 23rem);
  aspect-ratio: 1/1;
  flex-direction: column;

  .fileDetails {
    color: black;
    .name {
      font-weight: bold;
    }
  }

  .url {
    display: flex;
    width: 100%;
    padding: 1rem;
    color: black;
    align-items: center;
    .link {
      word-break: break-all;
      font-size: 0.9rem;
      flex: 0.8;
    }
    .icon {
      font-size: 1.5rem;
      cursor: pointer;
      flex: 0.2;
    }
  }

  .email {
    width: 60%;

    .sent {
      color: black;
      font-size: 0.9rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      input {
        width: 100%;
        padding: 0.3rem 0.5rem;
        border-radius: $border-radius-small;
        border: none;

        &::placeholder {
          text-transform: capitalize;
        }
      }
      button {
        padding: 0.2rem 0.5rem;
        width: fit-content;
        margin: 0 auto;
        cursor: pointer;
      }
    }
  }
}
